.welcome-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  h1 {
    font-size: 100px;
    margin-top: 300px;
    margin-left: 200px;
    color: #1c32f8;
  }

  .button-one {
    margin-left: 200px;
  }

  .button-two {
    margin-left: 20px;
  }